ul.nav-product-cart {
  display: flex;
}
ul.nav-product-cart li {
  list-style: none;
  padding: 5px;
  margin-top: 10px;
}
ul.nav-product-cart li a {
  text-decoration: none;
  color: black;
}
.nav-product-cart li + li::before {
  content: "/\00a0";
  padding: 2px;
  color: #3f3b51;
}
/* ---------- */
.font-weight-semi-bold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #edf1ff;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.border-0 {
  border: 0px !important;
}
.bg-secondary {
  background-color: rgb(237, 241, 255) !important;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

element.style {
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.border-secondary {
  border-color: rgb(237, 241, 255) !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
*,
::before,
::after {
  box-sizing: border-box;
}
.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.bg-secondary {
  background-color: #edf1ff !important;
}
.border-secondary {
  border-color: #edf1ff !important;
}
.bg-transparent {
  background-color: transparent !important;
}
body {
  margin: 0px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(111, 111, 111);
  text-align: left;
  background-color: rgb(255, 255, 255);
}
.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: 50% center / 50% 50% no-repeat;
}
.custom-control-label {
  position: relative;
  margin-bottom: 0px;
  vertical-align: top;
}
.form-group {
  margin-bottom: 1rem;
}
.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(73, 80, 87);
  vertical-align: middle;
  border: 1px solid rgb(237, 241, 255);
  border-radius: 0px;
  appearance: none;
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0;
}
.btn-primary {
  color: #212529;
  background-color: #d19c97;
  border-color: #d19c97;
}
.btn-block {
  display: block;
  width: 100%;
}
/* .btn-primary:hover {
  color: #fff;
  background-color: #c5837c;
  border-color: #c17a74;
} */
